JWT_SECRET=your_db_password
INTERNAL_SECRET=your_internal_secret
REDIS_HOST=localhost
REDIS_PORT=6379
AUTH_SERVICE_URL=http://localhost:8081
PROJECT_SERVICE_URL=http://localhost:8082
TASK_SERVICE_URL=http://localhost:8083
RATE_LIMIT_REPLENISH=10
RATE_LIMIT_BURST=20