JWT_SECRET=your_jwt_secret

GATEWAY_SECRET=your_gateway_secret

INTERNAL_SECRET=your_internal_secret

AUTH_SERVICE_URL=http://localhost:8081
PROJECT_SERVICE_URL=http://localhost:8082
TASK_SERVICE_URL=http://localhost:8083